.Book {
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 240px;
  height: 360px;
}
.Book__jacket {
  width: 145px;
  height: 205px;
  margin-bottom: 12px;
  object-fit: cover;
}
.Book__edit {
  position: absolute;
  top: 8px;
  right: 8px;
}
.Book__name,
.Book__author {
  margin: 0;
}
.Book__name {
  font-weight: bold;
}
.Books {
  display: flex;
  flex-wrap: wrap;
}
